<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 col-lg-6 m-3 pb-3">
    <div id="new_booking">
      <%= render "shared/offer_card", offer: @offer %>

      <%= simple_form_for [@offer, @booking] do |f|%>
        <%= f.input :booking_date, as: :date, html5: true %>
        <div class="d-flex">
          <div style="flex-grow:1">
            <%= f.input :start_time, as: :time, html5: true %>
          </div>
          <div style="flex-grow:1">
          <%= f.input :end_time, as: :time, html5: true %>
          </div>
        </div>
        <%= f.input :address, required: true %>
        <%= f.input :comment, placeholder: 'Add a message or instructions for the chef'%>
        <div class="text-center">
        <%= f.submit 'Book', class: 'btn btn-primary' %></div>
      <% end %>
    </div>
    </div>
  </div>
</div>
