<%= link_to offer_path(offer) do %>
  <div class="container card-product">

    <%# display 1st Image %>
    <% if offer.photos.attached? %>
      <%= cl_image_tag offer.photos.first.key %>
    <% end %>

    <div class="d-flex flex-column justify-content-between card-product-infos">
      <h3><%= offer.title %></h3>
      <p><%= offer.description.gsub(/(\.|!).*/, '') %>.</p>
      <div class="d-flex justify-content-between">
        <p><b><%= offer.number_of_people %> people</b></p>
        <p><b><%= sprintf('%.0f', offer.price) %> EUR </b></p>
      </div>
    </div>
  </div>
<% end %>
