<%= link_to offer_path(offer) do %>
  <div class="container card-product">
    <%# display 1st Image %>
    <% if offer.photos.attached? %>
      <%= cl_image_tag offer.photos.first.key %>
    <% end %>

    <div class="d-flex flex-column justify-content-between card-product-infos">
      <h2><%= offer.title %></h2>
      <p><%= offer.description %></p>
      <div class="d-flex justify-content-between">
        <p><%= offer.number_of_people %> people</p>
        <p><%= offer.price %> EUR </p>
      </div>
    </div>
  </div>
<% end %>
