
<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 text-center m-3 pb-3">
      <h1>Create a new offer for the chef
        <%= current_user.first_name %>
      </h1>
      <p>(<%= link_to 'Back to the homepage', root_path %>)</p>
      <%= simple_form_for [@offer] do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price, as: :integer %>
        <%= f.input :number_of_people, as: :integer %>
        <%= f.input :category %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
