<!--
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @offer.photos.first.key, crop: :fill %>')" >
  <div class="container offer-details">
    <h1><%= @offer.title %></h1>
    <p><%= @offer.description %></p>
    <%= link_to 'Book now', new_offer_booking_path(@offer), class: 'btn btn-flat' %>

    <span class='person-tag'><%= pluralize(@offer.number_of_people, 'person') %></span>
    <span class='category-tag'><%= @offer.category %></span>
    <span class='price-tag'><%= @offer.price.round %> EUR</span>
  </div>
</div>
-->
<div class="container col-9">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @offer.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <% style="carousel-item active"%>
        <% else %>
          <% style="carousel-item"%>
        <% end %>
        <div class="<%=style%>">
          <%= cl_image_tag photo.key, crop: :fit, class:"d-block w-100" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="offer-details mt-5">
  <div>
    <h1><%= @offer.title %></h1>
    <p><%= @offer.description %></p>
  </div>
  <%= link_to 'Book now', new_offer_booking_path(@offer), class: 'btn btn-flat' %>
  <hr>
  <div class="mt-3">
    <span class='person-tag'><%= pluralize(@offer.number_of_people, 'person') %></span>
    <span class='category-tag'><%= @offer.category %></span>
    <span class='price-tag'><%= @offer.price.round %> EUR</span>
  </div>
</div>
<div class="container mt-5 mb-3 p-0">
  <% if @offer.user == current_user %>
    <%= link_to "Edit this offer", edit_offer_path, class: "btn btn-outline-secondary" %>
  <%end%>

  <% if @offer.user == current_user %>
  <%= link_to "Delete this offer",
              offer_path(@offer), class: "btn btn-outline-danger",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  <%end%>


</div>

<%# <% @article.photos.each do |photo| %>
  <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# <% end %>

<% @offer.reviews.each do |review| %>
<hr>
 <ul>
  <li><%= review.title %></li>
  <li><%= review.content %></li>
  <li><%= review.user.first_name %></li>
  <li><%= review.rating %></li>
  <li>   <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>

</ul>
<hr>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 col-lg-6 m-3 pb-3">
    <div id="new_review">
    <hr>
    <h3>Leave a new review for <%= @offer.title %></h3>
      <%= render "reviews/form" %>
    </div>
  </div>
</div>
